<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <section name="LsiDbLayerConfig" type="Lsi.Libs.LsiDbLayer.LsiDbLayerConfig, Lsi.Libs.LsiDbLayer"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConApp_VS2k8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Lsi.LrsSrv2Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <!--
            <section name="Lrs.LrsSrv2Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            -->
        </sectionGroup>
    </configSections>
    <LsiDbLayerConfig dbConnString="Persist Security Info=False;User ID=sa;Password=laser;Initial Catalog=WLDB_118;Data Source=jposkrobko2\sql2k8;Application Name=&quot;WaiterLocatorDb Web COM Bll&quot;;Current Language=us_english;" tooLongQueryTime="00:00:10" >
        <Connections>
            <ConnectionDef connId="SRV" dbConnString="Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=Survey;Data Source=tfastyn\sql2005;;Application Name=&quot;LRS NetPage WS BLL&quot;;"/>
            <ConnectionDef connId="PlayPaqConn" dbConnString="Persist Security Info=False;User ID=sa;Password=laser;Initial Catalog=PP;Data Source=jposkrobko2;"/>
        </Connections>
    </LsiDbLayerConfig>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logdir" value="d:\Projects\Testy\logs"/>
        <variable name="filename" value="ConApp_VS2k8"/>
        <targets>
            <!--<target name="logfile" xsi:type="File" fileName="${logdir}\${date:format=yyyyMMdd}\${filename}.log"
            layout="[${level}][${longdate}]Message:${message}${exception:format=tostring}"/>-->
            <target name="logfile" xsi:type="File" fileName="${logdir}\${date:format=yyyyMMdd}\${event-context:Param}_${filename}.log"
            layout="${message}${exception:format=tostring}"/>
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile"/>
            <!--<logger name="*" minlevel="Warn" writeTo="logfile"/>-->
        </rules>
    </nlog>
    <applicationSettings>
        <ConApp_VS2k8.Properties.Settings>
            <setting name="ConApp_VS2k8_ws_Lenovo" serializeAs="String">
                <value>http://wswl.smsvalet.com/Lenovo.asmx</value>
            </setting>
            <setting name="ConApp_VS2k8_TT_TableTracker" serializeAs="String">
                <value>http://localhost/LRSTableTrackerWS/TableTracker.asmx</value>
            </setting>
            <setting name="ConApp_VS2k8_SmsProxy_WSMailer" serializeAs="String">
                <value>http://smsproxyws.pager.net/WSMailer.asmx</value>
            </setting>
            <setting name="ConApp_VS2k8_GuestConnect_GuestConnect" serializeAs="String">
                <value>http://guestconnect.pager.net/GuestConnect.asmx</value>
            </setting>
            <setting name="ConApp_VS2k8_Srv2_Srv2" serializeAs="String">
                <value>http://dpolrssrv/Srv2/Srv2.asmx</value>
            </setting>
            <setting name="ConApp_VS2k8_iQueue_GuestConnect" serializeAs="String">
                <value>http://localhost/LrsGuestConnectWs/GuestConnect.asmx</value>
            </setting>
            <setting name="SqlConnStr" serializeAs="String">
                <value>dbConn</value>
            </setting>
        </ConApp_VS2k8.Properties.Settings>
        <!--
        <Lrs.LrsSrv2Bll.Properties.Settings>
            <setting name="Lrs_LrsSrv2Bll_Srv2DataExchange_Service" serializeAs="String">
                <value>http://ssss.pager.net:9092/DataExchange.asmx</value>
            </setting>
        </Lrs.LrsSrv2Bll.Properties.Settings>
        -->
        <Lsi.LrsSrv2Bll.Properties.Settings>
            <setting name="Lsi_LrsSrv2Bll_Srv2DataExchange_Service" serializeAs="String">
                <!--<value>http://aaaaa.pager.net:9090/DataExchange.asmx</value>-->
                <value></value>
            </setting>
        </Lsi.LrsSrv2Bll.Properties.Settings>
    </applicationSettings>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="mailsrv.lsisoftware.pl" port="587" userName="lrsbtmail@lsisoftware.pl" password="123QWEasd@" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>